:root {
    --background: #F6F6F6;
    --blue: #1C1E5F;
    --blue-light: #368eff;
}

/* MARK: KEY CSS */
body {
    margin: 0;
    padding: 0;
    font-family: "Commissioner", sans-serif;
    background-color: var(--background);
}

*, *::before, *::after {
    box-sizing: border-box;
}

/* MARK: GENERIC CSS */
.page-width {
    width: 95%;
    margin: 0 auto;
}

@media (min-width: 1200px) {
    .page-width {
        width: 80%;
    }
}

.spacer-25 {
    min-height: 25px;
}
.spacer-50 {
    min-height: 50px;
}
.spacer-75 {
    min-height: 75px;
}
.spacer-100 {
    min-height: 100px;
}

p.page-text {
    font-size: 16px;
    line-height: 28px;
}

/* GLOBAL */