---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Page Not Found">
    <div class="error-content">
        <div class="image">
            <img src="/images/home-image.jpg" alt="404 Image" width="100%">
        </div>
        <div class="error-text">
            <h1>404</h1>
            <h2>PAGE NOT FOUND</h2>
        </div>
    </div>
</BaseLayout>