---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Page Not Found">
    <div class="hero">
        <div class="image">
            <img src="https://pitfielddigital.github.io/qb-building-solutions/images/banners/404.png" alt="QB Building Solutions Homepage Banner" width="100%">
        </div>
        <div class="content">
            <h1 class="error-code-text">4<span>0</span>4</h1>
            <div class="text">Page Not Found</div>
            <hr class="hero-break">
            <div class="subtext">Sorry, we can't find the page you're looking for. It may have been moved, deleted, or the link may be incorrect.</div>
            <a class="btn btn-red" href="https://pitfielddigital.github.io/qb-building-solutions/">RETURN HOME</a>
        </div>
        <section>
            <h3 class="standout">Need help finding something?</h3>
            <div class="grid grid-4">
                <div class="card">
                    <div class="icon"></div>
                    <div class="title">Go to Homepage</div>
                    <p class="page-text">Return to main page and start again.</p>
                    <div class="go">
                        <i class="fa-solid fa-arrow-right"></i>
                    </div>
                </div>
                <div class="card">
                    <div class="icon"></div>
                    <div class="title">Our Services</div>
                    <p class="page-text">Explore the full range of building services we offer.</p>
                    <div class="go">
                        <i class="fa-solid fa-arrow-right"></i>
                    </div>
                </div>
                <div class="card">
                    <div class="icon"></div>
                    <div class="title">View Projects</div>
                    <p class="page-text">See examples of our recent building projects.</p>
                    <div class="go">
                        <i class="fa-solid fa-arrow-right"></i>
                    </div>
                </div>
                <div class="card">
                    <div class="icon"></div>
                    <div class="title">Contact Us</div>
                    <p class="page-text">Get in touch with our friendly team today.</p>
                    <div class="go">
                        <i class="fa-solid fa-arrow-right"></i>
                    </div>
                </div>
            </div>
        </section>
    </div>
</BaseLayout>