---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Contact Us" description="Contact Us" menu="contact">
    <div class="hero">
        <div class="image">
            <img src="https://pitfielddigital.github.io/qb-building-solutions/images/banners/contact.png" alt="QB Building Solutions Contact Us Banner" width="100%">
        </div>
        <div class="content">
            <h1 class="text-heading">Contact Us</h1>
            <div class="text">Get in Touch</div>
            <hr class="hero-break">
            <div class="subtext">Get in touch today to discuss your project. We're here to help and happy to provide a fre, no obligation quote.</div>
        </div>
    </div>
    <section>
        <div class="row row-2 bordered">
            <div class="column item">
                <h2 class="section-heading">Send us a message</h2>
                <p class="page-text">Fill out the form below and we'll get back to you as soon as possible</p>
                <div class="spacer-35"></div>
                <form>
                    <input type="text" placeholder="Your Name *" required>
                    <input type="email" placeholder="Email Address *" required>
                    <input type="number" placeholder="Phone Number">
                    <input type="text" placeholder="Subject">
                    <textarea placeholder="Your Message *" required></textarea>
                    <button class="btn btn-red" type="submit">SEND MESSAGE</button>
                </form>
            </div>
            <div class="column item">
                <h2 class="section-heading">Contact Information</h2>
                <div class="spacer-10"></div>
                <div class="contact-information-item">
                    <div class="icon"><i class="fa-solid fa-phone"></i></div>
                    <div class="information">
                        <div class="title">07464 214327</div>
                        <p class="info-text">Call us today</p>
                    </div>
                </div>
                <div class="spacer-25"></div>
                <div class="contact-information-item">
                    <div class="icon"><i class="fa-regular fa-envelope"></i></div>
                    <div class="information">
                        <div class="title">Info@qbbuildingsolutions.com</div>
                        <p class="info-text">Email us anytime</p>
                    </div>
                </div>
                <div class="spacer-25"></div>
                <div class="contact-information-item">
                    <div class="icon"><i class="fa-solid fa-location-dot"></i></div>
                    <div class="information">
                        <div class="title">Belper, Derbyshire</div>
                        <p class="info-text">Proud to serve Belper, Derby and surrounding areas</p>
                    </div>
                </div>
                <div class="spacer-25"></div>
                <div class="contact-information-item">
                    <div class="icon"><i class="fa-regular fa-clock"></i></div>
                    <div class="information">
                        <div class="title">Mon - Fri : 8:00AM - 5:00PM</div>
                        <p class="info-text">
                            Saturday: By Appointment
                            <br>Sunday: Closed
                        </p>
                    </div>
                </div>
                <div class="spacer-25"></div>
                <div class="information-block">
                    <div class="icon"><i class="fa-regular fa-file-lines"></i></div>
                    <div class="information">
                        <div class="title">Free, No Obligation Quotes</div>
                        <p class="info-text">
                            We'll visit your site, discuss your needs and provide you a detailed quote.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d36544.03852943626!2d-1.5134653370869597!3d53.027399554927946!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48798ac30726b81b%3A0x10fdcfb40718dd3b!2sBelper!5e1!3m2!1sen!2suk!4v1783503395568!5m2!1sen!2suk" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="strict-origin-when-cross-origin"></iframe>
    </div>
</BaseLayout>