---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Home" description="348 (Ilkeston) Squadron RAF Air Cadets. Adventure training, flying, STEM, Duke of Edinburgh and leadership opportunities for young people aged 12-20 in Ilkeston, Derbyshire.">
    <div class="home-content">
        <div class="banner">
            <img src="/images/home-banner.jpg" alt="348 Ilkeston Air Cadets">
            <div class="content">
                <h1 class="text">348 (Ilkeston) Squadron RAFAC</h1>
                <div class="crest">
                    <img src="/images/crest.png" alt="Squadron Crest" width="100%">
                </div>
            </div>
        </div>
        <div class="page-width">
            <div class="spacer-50"></div>
            <h1 class="title">Welcome to 348 (Ilkeston) Squadron RAFAC.</h1>
            <div class="welcome-text">
                <img src="/images/what-we-do/wwd-stem.jpeg" alt="Helicopter Image" class="floating-image">
                <p class="page-text">
                    A Welcome from Officer Commanding 348 (Ilkeston) Squadron RAFAC
                    <br><br>
                    “Thank you for visiting the website of 348 (Ilkeston) Squadron. We are a military youth organisation situated in Ilkeston, one of 31 squadrons in the East Midlands. Our dedicated adult volunteer team provide bespoke training opportunities to young people aged between 12 and 20, promoting leadership, teamwork, and social skills to develop young people into well rounded and professional adults. 
                    <br><br>
                    The training programme offers a variety of activities and opportunities across multiple subjects from flying a glider and leading adventure expeditions to operating radio and shooting equipment. We are also very active in the local community, supporting the Poppy Appeal and Remembrance Parade, visiting local veterans in assisted living spaces and performing outreach at events like the Classic Car Show, Over The Wall, weekend markets and school careers fairs.
                    <br><br>
                    Our aim is to foster a safe and inclusive environment for young people and adult volunteers to learn new skills and create lasting friendships for both service and civilian life. 
                    <br><br>
                    Please feel free to browse our website and, should you have any questions, one of the staff team will be happy to assist."
                </p>
            </div>
        </div>
        <div class="spacer-100"></div>
        <div class="full-width">
            <div class="what-we-do-home-banner">
                <div class="image">
                    <img src="/images/image00004.jpeg" alt="What we Do" width="100%">
                </div>
                <div class="content">
                    <h2>WHAT WE DO</h2>
                    <p>348 (Ilkeston) Squadron offer a wide variety of training and activities that suit all interests and develop key skills for young people.</p>
                    <a href="/what-we-do">LEARN MORE</a>
                </div>
            </div>
        </div>
        <div class="spacer-100"></div>
        <div class="page-width">
            <h1 class="title who-we-are-home-title">WHO WE ARE</h1>
            <div class="spacer-25"></div>
            <div class="meet-the-team-grid">
                <div class="column">
                    <div class="card">
                        <img src="/images/people/batson.png" alt="Warrant Officer R Batson">
                    </div>
                </div>
                <div class="column">
                    <div class="card">
                        <img src="/images/people/l_bilby.png" alt="Civilian Instructor L Bilby">
                    </div>
                </div>
                <div class="column">
                    <div class="card">
                        <img src="/images/people/ghaffar.png" alt="Sergeant H Ghaffar">
                    </div>
                </div>
                <div class="column">
                    <div class="card">
                        <img src="/images/people/allen.png" alt="Civilian Instructor N Allen">
                    </div>
                </div>
            </div>
            <div class="spacer-75"></div>
            <a class="who-we-are-home-link" href="/who-we-are">MEET THE TEAM</a>
        </div>
        <div class="spacer-100"></div>
        <div class="full-width">
            <div class="express-interest">
                <div class="image">
                    <img src="/images/home-banner.jpg" alt="348 Ilkeston Air Cadets" width= "100%">
                </div>
                <div class="content">
                    <h1>INTERESTED IN JOINING?</h1>
                    <a href="/join-us">JOIN NOW</a>
                </div>
            </div>
        </div>
    </div>
</BaseLayout>