---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Join Us" content="Interested in joining the RAF Air Cadets? Register your interest with 348 (Ilkeston) Squadron and find out how young people aged 12-20 can get involved.">
    <div class="spacer-50"></div>
    <div class="page-width">
        <div class="contact-content">
            <h1 class="title">REGISTER YOUR INTEREST</h1>
            <div class="spacer-50"></div>
            <p class="page-text">We have two open evenings a year - taking place in March and September. We continually recruit  in between these times and so if interested, please fill out the form below and we will be in touch to discuss a visit to look around.</p>
            <div class="spacer-50"></div>
            <div class="split-view">
                <div class="half-width joinus-col">
                    <form class="defaultform" action="https://api.web3forms.com/submit" method="POST" id="form">
                        <input type="hidden" name="access_key" value="cf59f659-1622-4f06-85da-74d6a573b095">
                        <h2 class="subtitle">YOUNG PERSONS DETAILS</h2>
                        <span></span>
                        <div class="formcol">
                            <label>Name</label>
                            <input type="text" placeholder="First Name..." name="first_name">
                            <input type="text" placeholder="Surname..." name="surname">
                        </div>
                        <div class="formcol">
                            <label>Date of Birth</label>
                            <input type="date" placeholder="dd/mm/yyyy" name="dob">
                            <input type="number" placeholder="Age..." step="1" name="age">
                        </div>
                        <div class="formcol">
                            <label>School Year Group</label>
                            <div class="checkbox-label">
                                <input type="radio" id="year7" value="Year 7" name="year_group">
                                <label for="year7">Year 7</label>
                            </div>
                            <div class="checkbox-label">
                                <input type="radio" id="year8" value="Year 8" name="year_group">
                                <label for="year8">Year 8</label>
                            </div>
                            <div class="checkbox-label">
                                <input type="radio" id="year9" value="Year 9" name="year_group">
                                <label for="year9">Year 9</label>
                            </div>
                            <div class="checkbox-label">
                                <input type="radio" id="year10" value="Year 10" name="year_group">
                                <label for="year10">Year 10</label>
                            </div>
                            <div class="checkbox-label">
                                <input type="radio" id="year11" value="Year 11" name="year_group">
                                <label for="year11">Year 11</label>
                            </div>
                            <div class="checkbox-label">
                                <input type="radio" id="year12" value="Year 12" name="year_group">
                                <label for="year12">Year 12</label>
                            </div>
                            <div class="checkbox-label">
                                <input type="radio" id="year13" value="Year 13" name="year_group">
                                <label for="year13">Year 13</label>
                            </div>
                            <div class="checkbox-label">
                                <input type="radio" id="college" value="College/Apprenticeship" name="year_group">
                                <label for="college">College/Apprenticeship</label>
                            </div>
                            <div class="checkbox-label">
                                <input type="radio" id="other" value="Other" name="year_group">
                                <label for="other">Other</label>
                            </div>
                            <input type="text" placeholder="Please Specify..." disabled name="year_group_other" id="year_group_other">
                        </div>
                        <div class="spacer-50"></div>
                        <h2 class="subtitle">PARENT DETAILS</h2>
                        <span></span>
                        <div class="formcol">
                            <label>Name</label>
                            <input type="text" placeholder="First Name..." name="parent_name">
                            <input type="text" placeholder="Surname..." name="parent_surname">
                        </div>
                        <div class="formcol">
                            <label>Contact Details</label>
                            <input type="text" placeholder="Email Address..." type="email" name="adult_email">
                            <input type="text" placeholder="Phone..." name="adult_phone">
                        </div>
                        <textarea placeholder="Additional Information..." class="message" name="additional_info"></textarea>
                        <div class="checkbox-label">
                            <input type="checkbox" id="consent" name="consent" required>
                            <label for="consent">I hereby agree that my data entered in the contact form will be stored electronically, and will be processed and used for the purpose of establishing contact. I am aware that I can revoke my consent at any time.</label>
                        </div>
                        <input type="submit" value="REGISTER">
                        <div id="result" class="hidden"></div>
                    </form>
                </div>
                <div class="half-width joinus-col">
                    <div class="join-us-images">
                        <div class="image"><img src="/images/what-we-do/wwd-doe-new.jpeg" alt="" width="100%"></div>
                        <div class="image"><img src="/images/image00001.jpeg" alt="" width="100%"></div>
                        <div class="image"><img src="/images/what-we-do/image00005.jpeg" alt="" width="100%"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        const otherRadio = document.getElementById('other');
        const otherInput = document.getElementById('year_group_other');

        document.querySelectorAll('input[name="year_group"]').forEach(radio => {
            radio.addEventListener('change', () => {
                if (otherRadio.checked) {
                    otherInput.disabled = false;
                    otherInput.required = true;
                } else {
                    otherInput.disabled = true;
                    otherInput.required = false;
                    otherInput.value = '';
                }
            });
        });

        const form = document.getElementById('form');
        const result = document.getElementById('result');

        form.addEventListener('submit', function(e) {
        e.preventDefault();
        const formData = new FormData(form);
        const object = Object.fromEntries(formData);
        const json = JSON.stringify(object);
        result.innerHTML = "Please wait..."
        result.classList.remove('hidden');
        fetch('https://api.web3forms.com/submit', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'Accept': 'application/json'
                },
                body: json
            })
            .then(async (response) => {
                let json = await response.json();
                if (response.status == 200) {
                    result.innerHTML = json.message;
                } else {
                    console.log(response);
                    result.innerHTML = json.message;
                }
            })
            .catch(error => {
                console.log(error);
                result.innerHTML = "Something went wrong!";
            })
            .then(function() {
                form.reset();
                setTimeout(() => {
                    result.style.display = "none";
                    result.classList.add('hidden');
                }, 3000);
            });
        });
    </script>
</BaseLayout>