---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Services" description="Services" menu="services">
    <div class="hero">
        <div class="image">
            <img src="https://pitfielddigital.github.io/qb-building-solutions/images/banners/services.png" alt="QB Building Solutions Homepage Banner">
        </div>
        <div class="content">
            <h1 class="text-heading">SERVICES</h1>
            <div class="text">We cover all aspects of building work</div>
            <hr class="hero-break">
            <div class="subtext">From small repairs to complete new builds, we provide a comprehensive range of building services across Belper, Derby and the surrounding Derbyshire areas.</div>
        </div>
    </div>
    <section>
        <div class="grid grid-3">
            <a class="card" href="https://pitfielddigital.github.io/qb-building-solutions/services/bricklaying">
                <div class="image">
                    <img src="https://pitfielddigital.github.io/qb-building-solutions/images/bricklaying.png" alt="Bricklaying" width="100%">
                </div>
                <div class="content">
                    <div class="title">Bricklaying</div>
                    <p class="card-text">High quality brickwork for new builds, extensions, garden walls and more.</p>
                    <span class="card-button">LEARN MORE</span>
                </div>
            </a>
            <a class="card" href="https://pitfielddigital.github.io/qb-building-solutions/services/joinery">
                <div class="image">
                    <img src="https://pitfielddigital.github.io/qb-building-solutions/images/joinery.png" alt="Joinery" width="100%">
                </div>
                <div class="content">
                    <div class="title">Joinery</div>
                    <p class="card-text">Bespoke carpentry and joinery services, from doors to kitchen installations.</p>
                    <span class="card-button">LEARN MORE</span>
                </div>
            </a>
            <a class="card" href="https://pitfielddigital.github.io/qb-building-solutions/services/site-management">
                <div class="image">
                    <img src="https://pitfielddigital.github.io/qb-building-solutions/images/site-management.png" alt="Site Management" width="100%">
                </div>
                <div class="content">
                    <div class="title">Site Management</div>
                    <p class="card-text">Professional site management to ensure your project runs smoothly.</p>
                    <span class="card-button">LEARN MORE</span>
                </div>
            </a>
            <a class="card" href="https://pitfielddigital.github.io/qb-building-solutions/services/extensions">
                <div class="image">
                    <img src="https://pitfielddigital.github.io/qb-building-solutions/images/extensions.png" alt="Extensions" width="100%">
                </div>
                <div class="content">
                    <div class="title">Extensions</div>
                    <p class="card-text">Single and double story extensions to create the ectra space you need. We manage the whole process from design to completion.</p>
                    <span class="card-button">LEARN MORE</span>
                </div>
            </a>
            <a class="card" href="https://pitfielddigital.github.io/qb-building-solutions/services/new-builds">
                <div class="image">
                    <img src="https://pitfielddigital.github.io/qb-building-solutions/images/new-builds.png" alt="New Builds" width="100%">
                </div>
                <div class="content">
                    <div class="title">New Builds</div>
                    <p class="card-text">Complete new build homes build to the highest standards. We work you every step of the way to create your dream home.</p>
                    <span class="card-button">LEARN MORE</span>
                </div>
            </a>
            <a class="card" href="https://pitfielddigital.github.io/qb-building-solutions/services/general-building">
                <div class="image">
                    <img src="https://pitfielddigital.github.io/qb-building-solutions/images/general-building.png" alt="General Building" width="100%">
                </div>
                <div class="content">
                    <div class="title">General Building</div>
                    <p class="card-text">From minor repairs to full renovations, we cover all aspects of building.</p>
                    <span class="card-button">LEARN MORE</span>
                </div>
            </a>
            <a class="card" href="https://pitfielddigital.github.io/qb-building-solutions/services/groundworks">
                <div class="image">
                    <img src="https://pitfielddigital.github.io/qb-building-solutions/images/groundworks.png" alt="Groundworks" width="100%">
                </div>
                <div class="content">
                    <div class="title">Groundworks</div>
                    <p class="card-text">Professional groundwork services including foundations, drainage, site preparation and excavation for projects of all sizes.</p>
                    <span class="card-button">LEARN MORE</span>
                </div>
            </a>
        </div>
    </section>
</BaseLayout>