---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="What We Do" content="Discover flying, gliding, Duke of Edinburgh, STEM, shooting, first aid, leadership and adventure training at 348 (Ilkeston) Squadron RAF Air Cadets.">
    <div class="page-width">
        <div class="what-we-do-content">
            <div class="spacer-100"></div>
            <h1 class="title">WHAT WE DO</h1>
            <div class="spacer-50"></div>
            <p class="page-text" style="text-align: center;">
                348 (Ilkeston) Squadron offer a wide variety of training and activities that suit all interests and develop key skills for young people. We host a number of different courses and events on the squadron, including inter-squadron competitions, guest speakers and external visits from organisations like the RAF, Derbyshire Constabulary, Derbyshire Fire and Rescue Service and many more!
            </p>
            <div class="spacer-50"></div>
            <div class="tile-layout">
                <div class="tile medium blue-1">
                    <div class="content">
                        <div class="icon"><i class="fa-solid fa-jet-fighter-up"></i></div>
                        <p class="title">Aviation</p>
                        <p class="page-text">Flying and Gliding at RAF Wittering, model plane workshops, Flight Simulator and drone experiences and courses in aviation studies.</p>
                    </div>
                    <div class="image">
                        <img src="/images/what-we-do/wwd-aviation.jpeg" alt="placeholder">
                    </div>
                </div>
                <div class="tile medium green-1">
                    <div class="image">
                        <img src="/images/what-we-do/wwd-adventure-training.jpeg" alt="placeholder">
                    </div>
                    <div class="content">
                        <div class="icon"><i class="fa-solid fa-person-hiking"></i></div>
                        <p class="title">Adventure Training</p>
                        <p class="page-text">Fieldcraft, bushcraft, camping.</p>
                    </div>
                </div>
                <div class="tile large purple-1">
                    <div class="content">
                        <div class="icon"><i class="fa-solid fa-medal"></i></div>
                        <p class="title">Duke Of Edinburgh</p>
                        <p class="page-text">Qualified to deliver the full Bronze, Silver and Gold Awards in house with training and equipment provided.</p>
                    </div>
                    <div class="image">
                        <img src="/images/what-we-do/wwd-doe.jpeg" alt="placeholder">
                    </div>
                </div>
                <div class="tile small orange-1">
                    <div class="image">
                        <img src="/images/what-we-do/wwd-shooting.jpeg" alt="placeholder">
                    </div>
                    <div class="content">
                        <div class="icon"><i class="fa-solid fa-bullseye"></i></div>
                        <p class="title">Shooting</p>
                        <p class="page-text">Target practice, marksmanship training and inter-squadron shooting competitions.</p>
                    </div>
                </div>
                <div class="tile small yellow-1">
                    <div class="content">
                        <div class="icon"><i class="fa-solid fa-person-running"></i></div>
                        <p class="title">Sports</p>
                        <p class="page-text">Swimming, athletics and football championships along with fun outdoor activity and exercise.</p>
                    </div>
                    <div class="image">
                        <img src="/images/image00002.jpeg" alt="placeholder">
                    </div>
                </div>
                <div class="tile large blue-2">
                    <div class="image">
                        <img src="/images/what-we-do/wwd-first-aid.jpeg" alt="placeholder">
                    </div>
                    <div class="content">
                        <div class="icon"><i class="fa-solid fa-briefcase-medical"></i></div>
                        <p class="title">First Aid</p>
                        <p class="page-text">Qualified to deliver the Essential, Youth and Activity First Aid qualifications endorsed by Saint Johns Ambulance.</p>
                    </div>
                </div>
                <div class="tile medium red-1">
                    <div class="content">
                        <div class="icon"><i class="fa-solid fa-people-group"></i></div>
                        <p class="title">Leadership and Road Marching</p>
                        <p class="page-text">Teamwork, development and activity scenarios and inter-squadron course and competitions.</p>
                    </div>
                    <div class="image">
                        <img src="/images/what-we-do/wwd-leadership.jpeg" alt="placeholder">
                    </div>
                </div>
                <div class="tile medium green-2">
                    <div class="image">
                        <img src="/images/image00003.jpeg" alt="placeholder">
                    </div>
                    <div class="content">
                        <div class="icon"><i class="fa-solid fa-microchip"></i></div>
                        <p class="title">STEM</p>
                        <p class="page-text">Space, Radio and Cyber courses and qualifications.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</BaseLayout>