---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Who We Are" content="Meet the volunteer staff team behind 348 (Ilkeston) Squadron RAF Air Cadets and learn how we support young people across Ilkeston and Derbyshire.">
    <div class="page-width">
        <div class="what-we-do-content">
            <div class="spacer-100"></div>
            <h1 class="title">WHO WE ARE</h1>
            <div class="spacer-50"></div>
            <p class="page-text" style="text-align: center;">
                348 (Ilkeston) Squadron only operates due to the unwavering dedication of our adult volunteers, comprising of the staff team, civilian committee and cadet non commissioned officers. We are currently recruiting for a variety of roles, so please get in touch if you are interested in volunteering in any capacity.
            </p>
            <div class="spacer-50"></div>
            <h1 class="title">MEET THE STAFF TEAM</h1>
            <div class="meet-the-team-grid">
                <div class="column">
                    <div class="card">
                        <img src="/images/people/batson.png" alt="Warrant Officer R Batson">
                    </div>
                    <div class="card">
                        <img src="/images/people/edwards.png" alt="Flying Officer D Edwards">
                    </div>
                    <div class="card meet-team-desktop">
                        <img src="/images/people/clarke.png" alt="SE E Clarke">
                    </div>
                </div>
                <div class="column offset">
                    <div class="card">
                        <img src="/images/people/l_bilby.png" alt="Civilian Instructor L Bilby">
                    </div>
                    <div class="card">
                        <img src="/images/people/bark.png" alt="Civilian Instructor B Bark">
                    </div>
                </div>
                <div class="column">
                    <div class="card">
                        <img src="/images/people/ghaffar.png" alt="Sergeant H Ghaffar">
                    </div>
                    <div class="card">
                        <img src="/images/people/b_bilby.png" alt="Civilian Instructor B Bilby">
                    </div>
                </div>
                <div class="column offset">
                    <div class="card">
                        <img src="/images/people/allen.png" alt="Civilian Instructor N Allen">
                    </div>
                    <div class="card">
                        <img src="/images/people/a_bilby.png" alt="Cadet Warrant Officer A Bilby">
                    </div>
                    <div class="card meet-team-mobile">
                        <img src="/images/people/clarke.png" alt="SE E Clarke">
                    </div>
                </div>
            </div>
            <div class="spacer-50"></div>
            <p class="page-text" style="text-align: center;">
                The civilian committee, comprised of the Chairperson, Treasurer, Secretary, and members are responsible for the squadron's finances and fundraising efforts. They meet once a month to discuss current and future opportunities, as well as supporting the squadron at various activities and events. The Chairperson, Mr R Black, is actively seeking individuals to join the committee. Please get in touch if this is of interest to you.
            </p>
        </div>
    </div>
</BaseLayout>