<footer>
    <div class="footer-contact">
        <section>
            <div class="ready-to-start">
                <div class="icon">
                    Phone
                </div>
                <div class="text">
                    <p class="title">Ready to start your project?</p>
                    <p class="subtitle">Get in touch today for a free, no obligation quote.</p>
                </div>
            </div>
            <div class="get-in-touch">
                <a class="btn btn-white">GET IN TOUCH</a>
            </div>
        </section>
    </div>
    <div class="footer-main">
        <section>
            <div class="col lg">
                <div class="logo">
                    <img src="https://pitfielddigital.github.io/qb-building-solutions/images/logo.png" alt="QB Building Solutions Logo" width="100%">
                </div>
                <p class="page-text">A reliable, professional and friendly team with a passion for building.</p>
                <div class="socials">
                    <a href="https://pitfielddigital.github.io/qb-building-solutions/facebook" class="icon"><span></span></a>
                    <a href="https://pitfielddigital.github.io/qb-building-solutions/instagram" class="icon"><span></span></a>
                    <a href="https://pitfielddigital.github.io/qb-building-solutions/mail" class="icon"><span></span></a>
                </div>
            </div>
            <div class="col sm">
                <p class="title">QUICK LINKS</p>
                <a href="https://pitfielddigital.github.io/qb-building-solutions/">Home</a>
                <a href="https://pitfielddigital.github.io/qb-building-solutions/about">About</a>
                <a href="https://pitfielddigital.github.io/qb-building-solutions/services">Serices</a>
                <a href="https://pitfielddigital.github.io/qb-building-solutions/projects">Projects</a>
                <a href="https://pitfielddigital.github.io/qb-building-solutions/contact">Contact</a>
            </div>
            <div class="col sm">
                <p class="title">SERVICES</p>
                <a href="https://pitfielddigital.github.io/qb-building-solutions/bricklaying">Bricklaying</a>
                <a href="https://pitfielddigital.github.io/qb-building-solutions/joinery">Joinery</a>
                <a href="https://pitfielddigital.github.io/qb-building-solutions/site-management">Site Management</a>
                <a href="https://pitfielddigital.github.io/qb-building-solutions/general-building">General Building</a>
                <a href="https://pitfielddigital.github.io/qb-building-solutions/extensions">Extensions</a>
                <a href="https://pitfielddigital.github.io/qb-building-solutions/new-builds">New Builds</a>
            </div>
            <div class="col lg">
                <p class="title">CONTACT US</p>
                <div class="contact-item">
                    <div class="icon"><span></span></div>
                    <text>07464 214327</text>
                </div>
                <div class="contact-item">
                    <div class="icon"><span></span></div>
                    <text>Info@qbbuildingsolutions.com</text>
                </div>
                <div class="contact-item">
                    <div class="icon"><span></span></div>
                    <text>Belper, Derbyshire</text>
                </div>
            </div>
        </section>
    </div>
    <div class="footer-copyright">
        <section>
            <p class="page-text">© {new Date().getFullYear()} QB Building Solutions. All rights reserved.<br>Website by Pitfield Digital</p>
        </section>
    </div>
</footer>