<footer>
    <div class="page-width">
        <div class="footer-content">
            <div class="column logo"><img class="crest" src="/images/crest.png" alt="Squadron Crest" width="100%"></div>
            <div class="column">
                <p class="address">
                    348 (Ilkeston) Squadron<br>
                    Air Training Corps<br>
                    The Cadet Centre<br>
                    Albert St<br>
                    Ilkeston<br>
                    Derbyshire<br>
                    DE7 5GU
                </p>
            </div>
            <div class="column split-logos">
                <img class="crest" src="/images/atc-crest.png" alt="ATC Crest" width="100%">
                <img class="crest" src="/images/wing-crest.png" alt="Wing Crest" width="100%">
            </div>
            <div class="column">
                <b class="heading">USEFUL LINKS</b>
                <a href="/" class="item">HOME</a>
                <a href="/who-we-are" class="item">WHO WE ARE</a>
                <a href="/what-we-do" class="item">WHAT WE DO</a>
            </div>
            <div class="column ">
                <b class="heading">GET IN TOUCH</b>
                <a href="/contact-us" class="item">CONTACT US</a>
                <a href="/join-us" class="item">JOIN US</a>
            </div>
            <div class="column logo"><img class="rafac" src="/images/rafac-branding.png" alt="RAFAC Branding Logo" width="100%"></div>
        </div>
    </div>
</footer>
<div class="copyright">© {new Date().getFullYear()} 348 (Ilkeston) Squadron RAFAC. All rights reserved.<br>Website by Pitfield Digital</div>