<footer>
    <div class="footer-contact">
        <div class="content">
            <div class="ready-to-start">
                <div class="icon">
                    Phone
                </div>
                <div class="text">
                    <p class="title">Ready to start your project?</p>
                    <p class="subtitle">Get in touch today for a free, no obligation quote.</p>
                </div>
            </div>
            <div class="get-in-touch">
                <button class="btn btn-white">GET IN TOUCH</button>
            </div>
        </div>
    </div>
    <div class="footer-main">
        <div class="content">
            <div class="col lg">
                <div class="logo">
                    <img src="/images/logo.png" alt="QB Building Solutions Logo" width="100%">
                </div>
                <p class="page-text">A reliable, professional and friendly team with a passion for building.</p>
                <div class="socials">
                    <a href="/facebook" class="icon"><span></span></a>
                    <a href="/instagram" class="icon"><span></span></a>
                    <a href="/mail" class="icon"><span></span></a>
                </div>
            </div>
            <div class="col sm">
                <p class="title">QUICK LINKS</p>
                <a href="/">Home</a>
                <a href="/about">About</a>
                <a href="/services">Serices</a>
                <a href="/projects">Projects</a>
                <a href="/contact">Contact</a>
            </div>
            <div class="col sm">
                <p class="title">SERVICES</p>
                <a href="/bricklaying">Bricklaying</a>
                <a href="/joinery">Joinery</a>
                <a href="/site-management">Site Management</a>
                <a href="/general-building">General Building</a>
                <a href="/extensions">Extensions</a>
                <a href="/new-builds">New Builds</a>
            </div>
            <div class="col lg">
                <p class="title">CONTACT US</p>
                <div class="contact-item">
                    <div class="icon"><span></span></div>
                    <text>07464 214327</text>
                </div>
                <div class="contact-item">
                    <div class="icon"><span></span></div>
                    <text>Info@qbbuildingsolutions.com</text>
                </div>
                <div class="contact-item">
                    <div class="icon"><span></span></div>
                    <text>Belper, Derbyshire</text>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="content">
            <hr>
            <p class="page-text">© {new Date().getFullYear()} QB Building Solutions. All rights reserved.<br>Website by Pitfield Digital</p>
        </div>
    </div>
</footer>