<header>
    <label for="shownav" class="closenav"></label>
    <div class="page-width header-content">
        <sidebar>
            <div class="tab-logo"><img src="/images/rafac-branding.png" alt="RAFAC Branding Logo" width="100%"></div>
            <nav>
                <a href="/" class="item">HOME</a>
                <a href="/who-we-are" class="item">WHO WE ARE</a>
                <a href="/what-we-do" class="item">WHAT WE DO</a>
                <a href="/contact-us" class="item">CONTACT US</a>
                <a href="/join-us" class="item">JOIN US</a>
            </nav>
        </sidebar>
        <div class="logo"><img src="/images/crest.png" alt="Squadron Crest" width="100%"></div>
        <input type="checkbox" class="shownav" id="shownav" style="display: none;">
        <label class="burger-menu" for="shownav">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </label>
    </div>
</header>