<header>
    <input type="checkbox" id="show_nav">
    <section>
        <div class="header-content">
            <div class="logo">
                <img src="https://pitfielddigital.github.io/qb-building-solutions/images/logo.png" alt="QB Building Solutions Logo" width="100%">
            </div>
            <nav id="header_nav">
                <label for="show_nav" class="close-nav mobile"><i class="fa-solid fa-right-to-bracket"></i></label>
                <a data-url="home"  href="https://pitfielddigital.github.io/qb-building-solutions/" class="item">HOME</a>
                <a data-url="about"  href="https://pitfielddigital.github.io/qb-building-solutions/about" class="item">ABOUT</a>
                <a data-url="services"  href="https://pitfielddigital.github.io/qb-building-solutions/services" class="item">SERVICES</a>
                <a data-url="projects"  href="https://pitfielddigital.github.io/qb-building-solutions/projects" class="item">PROJECTS</a>
                <a data-url="contact"  href="https://pitfielddigital.github.io/qb-building-solutions/contact" class="item">CONTACT</a>
                <a class="btn btn-red mobile" href="https://pitfielddigital.github.io/qb-building-solutions/contact">GET A QUOTE</a>
            </nav>
            <div class="get-quote">
                <a class="btn btn-red" href="https://pitfielddigital.github.io/qb-building-solutions/contact">GET A QUOTE</a>
            </div>
            <label for="show_nav" class="show-nav">
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
            </label>
        </div>
    </section>
</header>