<header>
    <input type="checkbox" id="show_nav">
    <div class="content">
        <div class="header-content">
            <div class="logo">
                <img src="/images/logo.png" alt="QB Building Solutions Logo" width="100%">
            </div>
            <nav id="header_nav">
                <a href="/" class="item">HOME</a>
                <a href="/about" class="item">ABOUT</a>
                <a href="/services" class="item">SERVICES</a>
                <a href="/projects" class="item">PROJECTS</a>
                <a href="/contact" class="item">CONTACT</a>
            </nav>
            <div class="get-quote">
                <button class="btn btn-red">GET A QUOTE</button>
            </div>
            <label for="show_nav" class="show-nav">
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
            </label>
        </div>
    </div>
</header>