<header>
    <input type="checkbox" id="show_nav">
    <div class="content">
        <div class="header-content">
            <div class="logo">
                <img src="https://pitfielddigital.github.io/qb-building-solutions/images/logo.png" alt="QB Building Solutions Logo" width="100%">
            </div>
            <nav id="header_nav">
                <a href="https://pitfielddigital.github.io/qb-building-solutions/" class="item">HOME</a>
                <a href="https://pitfielddigital.github.io/qb-building-solutions/about" class="item">ABOUT</a>
                <a href="https://pitfielddigital.github.io/qb-building-solutions/services" class="item">SERVICES</a>
                <a href="https://pitfielddigital.github.io/qb-building-solutions/projects" class="item">PROJECTS</a>
                <a href="https://pitfielddigital.github.io/qb-building-solutions/contact" class="item">CONTACT</a>
            </nav>
            <div class="get-quote">
                <button class="btn btn-red">GET A QUOTE</button>
            </div>
            <label for="show_nav" class="show-nav">
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
            </label>
        </div>
    </div>
</header>