:root {
    --red: #d91c32;
    --red-light: #ff374e;
    --red-dark: #af0b1e;
    --black: #222222;
    --grey: #bababa;
    --grey-light: #e9e8e8;
    --grey-dark: #9c9c9c;
}

/* MARK: KEY CSS */
body {
    margin: 0;
    padding: 0;
    font-family: "Commissioner", sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
}

/* MARK: GENERIC CSS */
.page-width {
    width: 95%;
    margin: 0 auto;
}

@media (min-width: 1200px) {
    .page-width {
        width: 80%;
    }
}

.spacer-15 {
    min-height: 15px;
}
.spacer-25 {
    min-height: 25px;
}
.spacer-35 {
    min-height: 35px;
}
.spacer-50 {
    min-height: 50px;
}
.spacer-75 {
    min-height: 75px;
}
.spacer-100 {
    min-height: 100px;
}

p.page-text {
    font-size: 20px;
    line-height: 28px;
    margin: 0;
}

.center {
    text-align: center;
}

/* GLOBAL */
header {
    background: black;
    padding: 20px 0;
}

section {
    padding: 0 2.5%;
    width: 100%;
}

section.grey {
    background: #f5f5f5;
    border: 1px solid #dcdcdc;
    border-left: none;
    border-right: none;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-content .logo {
    width: 100px;
    min-width: 100px;
    max-width: 100px;
}

header nav#header_nav .item {
    color: white !important;
    text-decoration: none !important;
}

header nav#header_nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    gap: 25px;
}

.btn {
    width: fit-content;
    padding: 15px 20px;
    display: block;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    border: none;
}

.btn-red {
    color: white;
    background: var(--red);
}

.btn-red:hover {
    background: var(--red-dark);
}

input#show_nav {
    display: none;
}

label.show-nav {
    display: flex;
    flex-direction: column;
    min-width: 35px;
    max-width: 35px;
    min-height: 20px;
    max-height: 20px;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

label.show-nav .line {
    display: block;
    width: 100%;
    min-height: 3px;
    background: white;
    position: relative;
    border-radius: 1px;
}

@media (min-width: 1000px) {
    label.show-nav {
        display: none !important;
    }
    .mobile {
        display: none;
    }
}

header .get-quote {
    width: 200px;
    min-width: 200px;
    max-width: 200px;
    display: flex;
    justify-content: flex-end;
}

footer .footer-contact {
    background: var(--red);
    padding: 20px 0;
}

footer .footer-main {
    background: black;
    padding: 20px 0;
}

footer .footer-copyright {
    background: #181818;
    color: #a8a8a8;
    text-align: center;
    padding: 10px 0;
}

.ready-to-start .icon {
    width: 60px;
    min-width: 60px;
    max-width: 60px;
    height: 60px;
    min-height: 60px;
    max-height: 60px;
    color: white;
    border: 2px solid white;
    border-radius: 100px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.ready-to-start .text {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.ready-to-start .text p {
    margin: 0;
}

.ready-to-start {
    display: flex;
    gap: 15px;
    align-items: center;
}

.ready-to-start .text .title {
    font-size: 24px;
    font-weight: 700;
}

footer .footer-contact section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-white {
    color: var(--red);
    background: white;
}

.btn-white:hover {
    background: #efefef;
}

footer .footer-main section {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

footer .footer-main section .col {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    gap: 10px;
}

footer .footer-main section .col.sm {
    width: 20%;
    min-width: 20%;
    max-width: 20%;
}

footer .footer-main section .col.lg {
    width: 30%;
    min-width: 30%;
    max-width: 30%;
}

.socials {
    display: flex;
    gap: 10px;
    align-items: center;
}

.socials .icon {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 40px;
    min-width: 40px;
    max-width: 40px;
    height: 40px;
    min-height: 40px;
    max-height: 40px;
    border: 2px solid white;
    border-radius: 100px;
}

footer .footer-main * {
    color: white !important;
}

footer .footer-main .col .title {
    font-weight: 600;
    margin: 0 0 8px 0;
}

footer .footer-main .col a {
    color: white !important;
    text-decoration: none !important;
}

footer .footer-main .col a:hover {
    color: var(--red) !important;
}

.hero {
    max-height: 450px;
    overflow: hidden;
    position: relative;
}

.hero .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, black, transparent);
    color: white;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 50%;
    gap: 20px;
}

.text-heading {
    font-size: 14px;
    color: var(--red);
    font-weight: 600;
    margin: 0;
}

.hero .content .text {
    font-size: 40px;
    font-weight: 700;
}

a {
    text-decoration: none !important;
}

.hero-break {
    display: block;
    width: 75px;
    min-width: 75px;
    max-width: 75px;
    min-height: 3px;
    max-height: 3px;
    height: 3px;
    background: var(--red);
    border: none !important;
    border-radius: 2px;
    margin: 0 !important;
}

main section {
    padding: 35px 2.5%;
}

.row {
    display: flex;
    gap: 15px;
}

.row-2 .column {
    width: 50%;
}

.standout {
    font-weight: 600;
    font-size: 40px;
    margin: 0;
}

.btn-white-red {
    background: white;
    color: var(--red);
    border: 2px solid var(--red);
}

.btn-white-red:hover {
    background: var(--red);
    color: white;
}

.grid {
    display: grid;
    grid-gap: 15px;
}

.grid-4 {grid-template-columns: repeat(4, 1fr);}
.grid-3 {grid-template-columns: repeat(3, 1fr);}

.card {
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 8px #d1d1d1;
    background: white;
    cursor: pointer;
}

.card .title {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 15px;
}

.card .content {
    padding: 15px;
}

.card .card-text {
    margin: 0;
    font-size: 16px;
}

.card .card-button {
    color: var(--red);
    font-size: 13px !important;
    font-weight: 600;
    margin-top: 15px;
    display: block;
}

.center .btn {
    margin: 0 auto;
}

section.black {
    background: black;
    color: white;
}

.grid .item {
    text-align: center;
}

.grid .item .title {
    font-size: 20px;
    margin: 20px 0;
}

.grid .item .item-text {
    font-size: 16px;
    margin: 0;
}

.grid .item .icon {
    width: 50px;
    min-width: 50px;
    max-width: 50px;
    height: 50px;
    min-height: 50px;
    max-height: 50px;
    border: 2px solid var(--red);
    border-radius: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(
    --red) !important;
}

.contact-item {
    display: flex;
    gap: 5px;
}

img {
    display: block;
}

header nav#header_nav .item:hover {
    color: var(--red) !important;
}

header nav#header_nav .item.selected {
    color: var(--red) !important;
    border-bottom: 2px solid var(--red);
    padding-bottom: 5px;
    padding-top: 5px;
    font-weight: 600;
}

.card .image {
    overflow: hidden;
}

.card .image img, .card .content .card-button {
    transition: 0.3s ease;
}

.card:hover .image img {
    scale: 1.05;
}

.our-process {display: flex;gap: 15px;align-items: center;}

.our-process .arrow {
    display: block;
    width: 30px;
    min-width: 30px;
    max-width: 30px;
    font-size: 35px;
    color: var(--red);
}

.our-process .process {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.our-process .process .number {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    background: var(--red);
    color: white;
    font-weight: 600;
    border-radius: 5px;
}

.our-process .process .title {
    font-size: 20px;
    font-weight: 600;
}

.our-process .process .process-text {
    font-size: 16px;
    margin: 0 auto;
}

footer .footer-main .logo {
    width: 100px;
    max-width: 100px;
    min-width: 100px;
}

.map iframe {
    display: block;
    width: 100%;
}

form input:not(.btn), form textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid grey;
    border-radius: 5px;
    font-size: 16px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-information-item {
    display: flex;
    gap: 15px;
    align-items: center;
}

.contact-information-item .icon {
    width: 50px;
    min-width: 50px;
    max-width: 50px;
    height: 50px;
    min-height: 50px;
    max-height: 50px;
    color: var(--red);
    font-size: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--red);
    border-radius: 100px;
}

.contact-information-item .title {
    font-size: 16px;
    font-weight: 600;
}

.contact-information-item .info-text {
    font-size: 16px;
    margin: 0;
}

.information-block {
    border: 2px solid var(--red);
    border-radius: 5px;
    padding: 15px;
    display: flex;
    gap: 15px;
    align-items: center;
    width: 100%;
}

.information-block .icon {
    font-size: 75px;
    color: red;
}

.information-block .title {
    font-size: 20px;
    font-weight: 600;
}

.information-block .info-text {
    font-size: 16px;
    margin: 0;
}

footer .footer-copyright p {
    margin: 0;
    font-size: 10px;
}

.error-code-text {
    font-size: 75px;
    margin: 0;
}

@media (max-width: 1000px) {
    header:has(#show_nav:checked) nav#header_nav {
        right: 0;
    }
    header nav#header_nav {
        position: fixed;
        right: calc(-100% - 10px);
        top: 0;
        flex-direction: column;
        height: 100%;
        width: 100%;
        max-width: 350px;
        justify-content: flex-start;
        gap: 20px;
        background: #222222;
        z-index: 10;
        padding-top: 20px;
        box-shadow: 0 0 7px black;
        transition: 0.3s ease;
    }
    header nav#header_nav .item.selected {
        padding: 0;
    }
    header nav#header_nav .item {
        font-size: 20px;
    }
    header .get-quote {
        display: none;
    }
    label.close-nav {
        color: white;
        font-size: 20px;
        width: 100%;
        text-align: right;
        padding: 0 20px 0 0;
        cursor: pointer;
    }
    header nav#header_nav .btn.btn-red.mobile {
        margin-top: 25px;
    }
    .hero .content {
        padding: 0 25px !important;
        gap: 10px !important;
    }
    .hero .content .text {
        font-size: 5vw;
    }
    .hero .content .subtext {
        font-size: 2.5vw;
    }
    .btn {
        font-size: clamp(8px, 2vw, 14px);
        padding: 10px;
    }
}

@media (max-width: 650px) {
    header .logo, footer .logo {
        width: 65px !important;
        max-width: 65px !important;
        min-width: 65px !important;
    }
}

@media (max-width: 767px) {
    .row {
        flex-direction: column;
    }
    .row .column {
        width: 100%;
    }
    .standout {
        font-size: clamp(20px, 5vw, 30px);
    }
    p.page-text {
        font-size: clamp(14px, 2.5vw, 20px);
        line-height: 4vw;
    }
    .card .title {
        font-size: clamp(16px, 2vw, 20px);
    }
    .card .card-text, .card .card-button {
        font-size: clamp(12px, 2vw, 16px);
    }
}

@media (max-width: 767px) and (min-width: 550px) {
    .grid-4 {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 550px) {
    .grid-4 {
        grid-template-columns: repeat(1, 1fr);
    }
}