---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import site from "../content/site.json";

const { title, description, menu } = Astro.props;
---

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="https://pitfielddigital.github.io/qb-building-solutions/icons/favicon.svg" type="image/svg+xml" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"/>
    <meta property="og:url" content="https://qbbuildingsolutions.com/" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="QB Building Solutions." />
    <meta property="og:image" content="https://qbbuildingsolutions.com/images/home-banner.jpg" />
    <meta property="og:title" content="QB Building Solutions" />
    <meta property="og:site_name" content="QB Building Solutions" />
    <link rel="stylesheet" href="https://pitfielddigital.github.io/qb-building-solutions/styles/global.css" />
    <script type="application/ld+json">
    {
    "@context": "https://schema.org",
    "@type": "Organization",
    "name": "QB Building Solutions",
    "url": "https://qbbuildingsolutions.com",
    }
    </script>
    <title>{title ? `${title} | ${site.siteName}` : site.siteName}</title>
    <meta name="description" content={description}>
</head>
<body data-menu="{menu}">
    <Header />
    <main>
        <slot />
    </main>
    <Footer />
</body>
</html>